rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /timelines/{timeline}{
      allow read: if (request.auth.uid == resource.data.user); 
      allow read: if resource.data.published == true ;
      allow write, delete, update: if request.auth.uid == resource.data.user;
      allow create: if request.auth != null; 
  	}
  }
}


rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if
          request.time < timestamp.date(2022, 8, 10);
    }
  }
}

